*{margin:0; padding:0;font-family: sans-serif;}
body{ width: 100%;display: flex; flex-direction:column;background-color: #202020; }
.header-marketPlace{background-color: #1A1A1B; width: 100%; height: 8rem;display: flex;justify-content: space-around;align-items: center;}  
h1{font-size: 3rem;color: #fff;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

#principal-container {height: 100%;width: 100%;display: flex;justify-content: center;align-items: center;flex-wrap: wrap;}
.card {width: 30rem;height: 20rem;display: flex;justify-content: space-evenly;align-items: center;  border-radius: 12px; border: #fff solid 1px; margin: 0.5rem;}
.card_product{background-color:#EDEDED; display:flex; flex-direction: column; align-items: center;justify-content:space-evenly; width: 15rem; height: 20rem; object-fit: cover;border-top-left-radius:12px; border-bottom-left-radius:12px;}
.card_information{display: flex; flex-direction: column; align-items: center; width: 15rem; height: 16rem; justify-content: space-evenly;}
.description_card{width: 13rem; height: 12rem; text-align: center; color: #fff;overflow:hidden; text-overflow: ellipsis;}
#img {width: 70%; height: auto;} 
#h3 {font-size: 1.5rem;color: #020a24;text-align: center;} 
.btn_card {width: 50%;height: 2.5rem;border-radius: 8px;  background: #94F3E4;color:#000 ;  cursor: pointer;  margin-top: 2rem; border: 1px; font-weight: bold;}
.btn_card:hover {background: #37AA9C;color: #fff;font-weight: bold;}
footer {background-color: #222222;margin-top: 0.5rem;display: flex;justify-content: space-around;align-items: center; flex-direction: column;} 
.top-footer{background-color:#fff ; width: 100%; height: 7rem; display: flex; justify-content: space-evenly; align-items: center; flex-direction: column;}
.top-footer-socialMedia img{height: 1rem; width: 1rem;}
.down-footer{color: #fff; height: 3rem; display: flex; align-items: center;}

.cart {padding: 1.5rem;position: absolute;width: 22rem;height: 100vh;right: 0;top: 8rem;background: #fffffc;box-shadow: -5px 0 4px #e5e5e5; overflow-y: scroll;}
.cart-container {display: none;}
.imgProduct{width: 20%;}
.product-container{display: flex; flex-direction: column; background: #EDEDED; padding: 1rem; margin-bottom: 1rem;}
.name-product{font-size: 20px; font-weight: bold;}
.icons{cursor: pointer;}
.trash{position: absolute;left: 85%; width: 5%;}
.information-container{display: flex; flex-direction: column; align-items: center;}
.info-img-container{display: flex; justify-content: flex-start; align-items: center; justify-items: flex-start;}
.count-container{display: flex; justify-content: space-evenly; width: 8rem;}

@media screen and (max-width:468px){
    .header-marketPlace{flex-direction: column;}
    #img{width: 50%;}
    .card{width: 20rem; height: 33rem; flex-direction: column;}
    .description_card{font-size: 0.84rem; width: 10rem; height: 8.5rem;}
    .card_product, .card_information {height: 25rem; width: 20rem;}
    .card_product{border-top-right-radius: 12px;border-bottom-left-radius:0px;}
    #h3 {font-size: 1.4rem;}
    .btn_card{font-size: 0.84rem; height: 2rem;}
    .down-footer{font-size: 0.85rem;}
}

